In [1]:
import pandas as pd

In [3]:
orders = pd.read_csv('olist_orders_dataset.csv')

In [4]:
items = pd.read_csv('olist_order_items_dataset.csv')

In [8]:
products = pd.read_csv('olist_products_dataset.csv')

In [9]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [10]:
items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [13]:
productitem = products.merge(items, on='product_id', how='left')

In [24]:
productitem.sort_values('product_category_name')

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value
80391,66e94c5c07d64d44c16cd6903a79a453,agro_industria_e_comercio,55.0,688.0,1.0,12700.0,56.0,32.0,32.0,fdff9465ac9ce1a793bb30fa94c6f241,1,d17f467e4bf608a510c20d82f4ba3b6b,2018-08-02 00:24:15,495.6,27.63
88793,6ff1fc9209c7854704a4f75c9fac41b4,agro_industria_e_comercio,59.0,489.0,2.0,233.0,16.0,5.0,13.0,d55fd37fa9914b69900747d27335c7c4,1,4e922959ae960d389249c378d1c939f5,2018-05-10 14:29:50,45.0,7.87
88792,6ff1fc9209c7854704a4f75c9fac41b4,agro_industria_e_comercio,59.0,489.0,2.0,233.0,16.0,5.0,13.0,9177fe6f8c324410d13aac7a2ac35f33,1,4e922959ae960d389249c378d1c939f5,2017-10-17 16:50:25,22.0,15.10
88791,6ff1fc9209c7854704a4f75c9fac41b4,agro_industria_e_comercio,59.0,489.0,2.0,233.0,16.0,5.0,13.0,010b143d83a59b355cd5a75c0f0fd785,4,4e922959ae960d389249c378d1c939f5,2017-09-05 23:44:47,22.0,34.15
88790,6ff1fc9209c7854704a4f75c9fac41b4,agro_industria_e_comercio,59.0,489.0,2.0,233.0,16.0,5.0,13.0,010b143d83a59b355cd5a75c0f0fd785,3,4e922959ae960d389249c378d1c939f5,2017-09-05 23:44:47,22.0,34.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111596,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0,a908872306574c9405b29a838aee5521,2,0c8380b62e38e8a1e6adbeba7eb9688c,2018-07-30 17:15:20,31.9,20.12
111633,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0,b9138517d788504f3732765e32ffc3d7,1,e5d4b2b0c3bca22085f7a19a28de0c42,2017-11-30 05:39:25,64.9,15.89
112027,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0,5a06ec99090e75d00d2b33b0efdce2f4,1,1b8b75e227c9a9c100d0c210fb6176ce,2017-02-05 21:33:14,110.0,15.53
112028,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0,fe51db9ff7a67edc7468c14e0a2e9aa1,1,1b8b75e227c9a9c100d0c210fb6176ce,2017-02-10 17:10:51,110.0,15.98
112324,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0,2a93ce7a0ff5c657ce85f7b75d26408f,2,25e47381a6c510ddeb36084e33b89f0c,2017-05-31 15:55:19,12.0,13.21

In [28]:
productitem.groupby('product_category_name').nunique()

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value
product_category_name,,,,,,,,,,,,,,
agro_industria_e_comercio,74,25,70,8,66,36,41,33,182,6,34,182,90,155
alimentos,82,34,74,7,60,21,23,21,450,6,58,450,114,180
alimentos_bebidas,104,39,96,8,50,19,26,18,227,5,34,227,98,117
artes,55,27,53,7,35,24,22,22,202,6,36,202,68,120
artes_e_artesanato,19,15,19,6,17,12,10,12,23,2,13,23,19,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sinalizacao_e_seguranca,93,33,86,9,55,31,34,27,140,6,46,140,94,118
tablets_impressao_imagem,9,7,8,4,8,7,7,7,79,2,6,79,16,38
telefonia,1134,48,611,13,121,18,27,22,4199,14,149,4193,444,710
telefonia_fixa,116,37,108,10,57,20,24,20,217,8,49,217,102,127
utilidades_domesticas,2335,55,1138,13,504,84,81,61,5884,12,468,5866,1110,1968

In [22]:
orderprod = pd.pivot_table(productitem, index='product_id', values='order_id')

DataError: No numeric types to aggregate

In [17]:
orderprod

                                  product_id
order_id
00010242fe8c5a6d1ba2dd792cb16214           1
00018f77f2f0320c557190d7a144bdd3           1
000229ec398224ef6ca0657da4fc703e           1
00024acbcdf0a6daa1e931b038114c75           1
00042b26cf59d7ce69dfabb4e55b4fd9           1
...                                      ...
fffc94f6ce00a00581880bf54a75a037           1
fffcd46ef2263f404302a634eb57f7eb           1
fffce4705a9662cd70adb13d4a31832d           1
fffe18544ffabc95dfada21779c9644f           1
fffe41c64501cc87c801fd61db3f6244           1

[98666 rows x 1 columns]